{% extends 'base.html'%}
{% load static %}
{% block title %}post{% endblock %}
{% block header %}
        <header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>post</h1>
                            {% comment %} post.htmlの中身の説明 {% endcomment %}
                            <h2 class="subheading">ここではポストされた物の詳細情報を観れるようになっております</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        {% block contents %}
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- カテゴリを表示 -->
                    <p class="post-meta">
                        <strong>カテゴリ:</strong> {{ record.category }}
                    </p>
                    <!-- 題名を表示 -->
                    <h2 class="section-heading">{{ record.title }}</h2>
                    <!-- 内容を表示 -->
                    <blockquote class="blockquote">
                        <p>{{ record.content }}</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
